@model ASonline.ViewModels.EditProductViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string[] selectSizeOptions = { "XS", "S", "M", "L", "XL", "XXL", "XXXL" };
}

<section class="content p-3">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-7">
                <!-- general form elements -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Izmeni proizvod</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="editProduct">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Naziv <span style="color:red;">*</span></label>
                                <input class="form-control" id="Name" name="Name" autocomplete="off" required placeholder="Naziv" value="@Model.Name" />
                            </div>
                            <div class="form-group">
                                <label for="Description">Opis</label>
                                <input class="form-control" id="Description" name="Description" autocomplete="off" value="@Model.Description" />
                            </div>
                            <div class="form-group">
                                <label for="Price">Cena<span style="color:red;">*</span></label>
                                <input class="form-control" id="Price" name="Price" autocomplete="off" required value="@Model.Price" />
                            </div>
                            <div class="form-group">
                                <label for="PriceUnderline">Sniženje ( % )</label>
                                <input class="form-control" type="number" min="0" max="100" id="PriceUnderline" name="PriceUnderline" value="@Model.PriceUnderline" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label for="CategoryId">Kategorija <span style="color:red;">*</span></label>
                                <select class="form-control" id="CategoryId" name="CategoryId">
                                    @foreach (var category in Model.AvailableCategories)
                                    {
                                       <option value="@category.Id" @(category.Id == Model.CategoryId ? "selected" : "")>@category.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Image">Slika</label>
                                <input type="file" accept=".jpg, .png" class="form-control" id="imageUpload" name="Image" autocomplete="off" />
                            </div>
                            <hr />

                            <h5 for="Size">Trenutno na stanju</h5>

                            @foreach (var availableSize in Model.AvailableSize)
                            {
                                if (availableSize.Quantity > 0)
                                {
                                   <span class="badge badge-secondary p-2 m-2">
                                       <span style="font-size: 16px; margin-left: 10px;">@availableSize.Size - @availableSize.Quantity</span>
                                       <span class="removeAvailableSize" data-id="@availableSize.Id">x</span>
                                   </span>
                                  }
                             }
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <a id="updateBtn" class="btn btn-info mt-2" style="cursor: pointer; color: white;">Sačuvaj izmene</a>
                        </div>

                        <input name="Id" id="Id" value="@Model.Id" type="hidden"/>
                    </form>
                </div>
                <!-- /.card -->
            </div>

            <!-- Size-->
            <div class="col-md-5">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Dodaj zalihe</h3>
                    </div>

                    <form id="sizeForm">
                        <div class="card-body">
                            <div class="form-group">
                                <label>Veličina <span style="color:red;">*</span></label>
                                <select class="form-control" name="Size" id="SizeId">
                                    @foreach (var size in selectSizeOptions)
                                    {
                                         <option>@size</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Količina <span style="color:red;">*</span></label>
                                <input name="Quantity" id="QuantityId" class="form-control" type="number" min="1" value="1" required/>
                            </div>

                            <div id="sizeDiv">
                               
                            </div>
                        </div>
                        <div class="card-footer">
                            <a class="float-right addSizeBtn"><i class='bx bx-add-to-queue'></i></a>
                        </div>
                    </form>

                </div>
            </div>

            <!--/.col (left) -->
            <div class="col-md-5">
                <div id="product-images">

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
  
<script src="~/Content/javascript/Product/ProductEdit.js"></script>