@model ASonline.ViewModels.ReviewViewListingModel
@{ ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }


@if (Model.Reviews.Count != 0)
{
<section class="content p-3">
    <div class="row">
        @foreach (var review in Model.Reviews)
        {
            <div class="col-md-6">
                <div class="card text-center">
                    <div class="card-header">
                        Komentar za proizvod: <a href="@Url.Action("Details","Product", new { Id = review.Product.Id })">@review.Product.Name</a>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title text-left">Email kreatora: <span class="font-weight-bold">@review.Email</span></h5>
                        
                        <p class="card-text text-left">
                            <span class="font-italic">Ocena:  </span>
                            <span class="text-danger">@review.Rating</span>
                            <br />
                            <span class="font-italic">Komentar:  
                            </span><span class="text-info">@review.Content</span>
                        </p>
                        <div class="d-flex justify-content-between">
                            <a class="acceptReviewBtn" data-id="@review.Id">
                                <i class="far fa-check-circle"></i>
                            </a>
                            <a class="removeReview" href="@Url.Action("DeclineReview", "Product", new { Id = review.Id })">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        Datum kreiranja: @review.Created
                    </div>
                </div>
            </div>
        }
    </div>
</section>
}
else
{

<section class="content p-3">
    <!-- /.row -->
    <div class="row">
        <div class="col-12">
            <div class="container-fluid d-flex align-items-center mt-5 flex-wrap">
                <div class="col-md-6">
                    <p class="text-center font-italic">
                        Nažalost još uvek nemate ni jedan komentar. <br />
                        Nezaboravite da pormovišete Vaš biznis na društvenim mrežama!
                    </p>
                </div>
                <div class="col-md-6">
                    <img style="width: 100%; height: 100%;" src="~/Content/images/admin/emptyResult.svg" />
                </div>
            </div>
        </div>
    </div>
</section>
}
<script src="~/Content/javascript/Product/ProductReviews.js"></script>