@model ASonline.ViewModels.SizeProductViewModel
@{ 
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    string[] selectSizeOptions = { "XS", "S", "M", "L", "XL", "XXL", "XXXL" };
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-section">
                <h2 class="title">
                    Dodaj veličinu
                </h2>
            </div>
            <div>
                <h3>Veličina se dodaje za :</h3>
                <hr />
                <div class="">
                    <a href="@Url.Action("Details","Product", new { Id = Model.Product.Id })"><h4>@Model.Product.Name</h4></a>
                    <br />
                    <div id="test">
                        @if (Model.Product.ProductStocks.Count != 0 && Model.Product.ProductStocks != null)
                        {
            <ul>
                @foreach (var item in Model.Product.ProductStocks.OrderBy(x => x.DefaultWeight))
                {
<li>@item.Size - @item.Quantity</li>}
            </ul>}
                    </div>
                </div>
            </div>
            <form id="stockProduct">
                <input type="hidden" value="@Model.ProductId" name="ProductId" id="ProductId" />
                <div class="form-group">
                    <label for="Size">Veličina <span class="active">*</span></label>
                    <br />
                    @*<input class="form-control" id="Size" name="Size" autocomplete="off" required />*@
                    <select class="form-control" id="Size" name="Size" required>
                        @foreach (var selectOptions in selectSizeOptions)
                        {
                            <option>@selectOptions</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="Quantity">Količina <span class="active">*</span></label>
                    <br />
                    <input type="number" min="1" value="1" class="form-control" id="Quantity" name="Quantity" autocomplete="off" required />
                </div>
                <a id="saveSizeBtn" class="btn btn-info mt-2" style="cursor: pointer; color: white;">Dodaj</a>
                <button id="cancelBtn" type="submit" class="btn mt-2">Nazad</button>
            </form>
        </div>
    </div>
</div>
<script src="~/Content/javascript/Product/ProductSize.js"></script>