@model ASonline.ViewModels.OrderDetailsViewModel
@{ ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml"; }



<div class="container p-3 bg-light">
    <div class="row g-5">
        <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Poručeni proizvodi</span>
                <span class="badge bg-primary rounded-pill">@Model.Order.OrderItems.Count</span>
            </h4>
            <ul class="list-group mb-3">
                @foreach (var orderItem in Model.Order.OrderItems)
                {
                    var productQuantity = orderItem.Quantity;

    <li class="list-group-item d-flex justify-content-between lh-sm" data-id="@orderItem.ProductId">
        <div>
            <h6 class="my-0">@orderItem.Product.Name</h6>
            <small class="text-muted">Količina: @productQuantity</small>
            <br />
            <small class="text-muted">Veličina: @orderItem.Size</small>
            <br />
            <small class="text-muted">Cena jednog proizvoda: @orderItem.Product.Price (RSD)</small>
        </div>
        <span class="text-muted">@(productQuantity * orderItem.Product.Price) RSD</span>
    </li>            }
                <li class="list-group-item d-flex justify-content-between">
                    <span>Ukupno (RSD)</span>
                    <strong>@Model.Order.TotalAmount</strong>
                </li>
            </ul>
        </div>


        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Adresa za slanje</h4>
            <div class="row g-3">
                <div class="col-sm-6">
                    <label for="FirstName">Ime</label>
                    <input type="text" class="form-control" id="FirstName" name="FirstName" value="@Model.Order.OrderDetail.FirstName" readonly />
                </div>

                <div class="col-sm-6">
                    <label for="LastName">Prezime</label>
                    <input type="text" class="form-control" id="LastName" name="LastName" value="@Model.Order.OrderDetail.LastName" readonly />
                </div>

                <div class="col-12">
                    <label for="Email">Email<span class="text-muted"></span></label>
                    <input type="email" class="form-control" id="Email" name="Email" value="@Model.Order.OrderDetail.Email" readonly />
                </div>

                <div class="col-12">
                    <label for="Address">Adresa</label>
                    <input type="text" class="form-control" id="Address" name="Address" value="@Model.Order.OrderDetail.Address" readonly />
                </div>

                <div class="col-12">
                    <label for="Nummber">Broj telefona <span class="text-muted"></span></label>
                    <input type="text" class="form-control" id="Nummber" name="Nummber" value="@Model.Order.OrderDetail.Nummber" readonly />
                </div>

                <div class="col-12">
                    <label for="Country">Država <span class="text-muted"></span></label>
                    <input type="text" class="form-control" placeholder="Srbija" id="Country" name="Country" value="Srbija" readonly />
                </div>

                <div class="col-md-6">
                    <label for="City">Grad / Opština*</label>
                    <input type="text" class="form-control" id="City" name="City" value="@Model.Order.OrderDetail.City" readonly />
                </div>

                <div class="col-md-6">
                    <label for="PostCode">Poštanski broj</label>
                    <input type="text" class="form-control" id="PostCode" name="PostCode" value="@Model.Order.OrderDetail.PostCode" readonly />
                </div>

                <div class="col-12">
                    <label for="address">Trenutni status</label>
                    <select name="Stauts" id="changeStatus" class="form-control">
                        @foreach (var availableStatus in Model.AvailableStatues)
                        {
                            var isSelectedStatus = availableStatus == Model.Order.Status;

            <option @(isSelectedStatus ? "selected" : string.Empty)>@availableStatus</option>}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="@Model.Order.Id" id="orderId" name="id" />
</div>
<script src="~/Content/javascript/Order/OrderDetails.js"></script>


