
@{
    ViewBag.Title = "OtherQuestion";
}


<!-- Page title -->
<div class="page-title parallax parallax1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-title-heading">
                    <h1 class="title">Najčešća pitanja</h1>
                </div><!-- /.page-title-heading -->
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="@Url.Action("Index","Home")">Početna</a></li>
                        <li><a href="@Url.Action("OtherQuestion","Home")">Najčešća pitanja</a></li>
                    </ul>
                </div><!-- /.breadcrumbs -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.page-title -->

<section class="flat-row">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>Naručivanje i plaćanje</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title active">
                            Kako mogu da promenim ili otkažem svoju porudžbinu?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Super smo brzi u obradi naloga kako bismo bili sigurni da ćete ih dobiti što je pre moguće. 
                                Možete promeniti svoju narudžbinu koliko god puta želite pre nego što kliknete na „Poruči“, ali nakon ovog trenutka nećete moći da izvršite promene u svojoj porudžbini.
                                Imajte na umu da je naš sistem dizajniran da ispunjava narudžbine što je brže moguće.
                                Ne možemo otkazati ili promeniti porudžbinu nakon što je postavljena.
                                U tom slučaju možete da nam vratite predmet u skladu sa našom <a class="active" href="@Url.Action("PrivacyPolicy","Home")">Politikom privatnosti</a> ili da otkažete pozivom u roku od 30 minuta nakon poslate porudžbine.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Koji su načini plaćanja robe?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Robu možete platiti gotovinski pouzećem, uplatnicom u banci ili pošti. Ukoliko plaćate uplatnicom, rok za uplatu je 3 radna dana. Robu ćemo poslati nakon evidentirane uplate.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->

        </div><!-- /.row -->
        <div class="divider"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="flat-title">
                    <h2>Ostala pitanja</h2>
                </div><!-- /.flat-title -->
                <div class="flat-accordion">
                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Da li je moguća isporuka van Srbije?
                        </div>
                        <div class="toggle-content">
                           <p>
                               Isporuka van Srbije trenutno nije moguća. 
                               Radimo na tome da i ova opcija bude moguća.
                           </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Kako da znam da sam sigurno poručio?
                        </div>
                        <div class="toggle-content">
                            <p>Ukoliko ste nakon poručivanja primili e-mail od nas sa potvrdom porudžbine i ukoliko Vas je kontaktirao nas prodavac, budite sigurni da je vaša porudžbina evidentirana.</p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Zaboravio sam lozinku za pristup svom nalogu. Šta da radim?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Potrebno je da kliknete na dugme <a class="font-italic" href="@Url.Action("Login","Account")">"Prijava"</a>, a zatim na link <a class="font-italic" href="@Url.Action("ForgotPassword","Account")">"Zaboravio si lozinku?"</a>, nakon čega će biti potrebno da unesete Vaš e-mail na koji ćemo vam poslati link za resetovanje lozinke.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->

                    <div class="flat-toggle">
                        <div class="toggle-title">
                            Koji su rokovi isporuke?
                        </div>
                        <div class="toggle-content">
                            <p>
                                Nakon što ste potvrdili porudžbinu, u najkraćem roku kontaktiraće Vas naš prodavac telefonom, radi potvrde porudžbine i vaših podataka.
                                Period tokom kojeg će Vas naš prodavac kontaktirati je najčešće 2-3 radna dana. Od tog trenutka rok isporuke je maksimalno 5 radnih dana u slučaju plaćanja robe pouzećem.
                                Za porudžbine čije plaćanje se vrši uplatom u banci ili pošti, rok za uplatu je 3 radna dana od dana potvrde porudžbine, a rok isporuke je 5 radnih dana od evidentiranja uplate.
                                Uobičajeno vreme za isporuku je 2 dana. Detaljnije o isporuci možete pročitati <a href="@Url.Action("OrderInfo","Home")">OVDE</a>.
                            </p>
                        </div>
                    </div><!-- /.flat-toggle -->
                </div><!-- /.flat-accordion -->
            </div><!-- /.col-md-12 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.flat-row -->