@model ASonline.ViewModels.CategorySearchViewModels


<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Sve kategorije</h3>

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="searchTxt" id="searchTxt" class="form-control float-right" value="@Model.SearchTerm" placeholder="Search">

                                <div class="input-group-append">
                                    <a style="cursor: pointer;" id="searchBtn" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Naziv</th>
                                    <th>Proizvodi</th>
                                    <th>Izmeni</th>
                                    <th>Izbriši</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Categories.Count != 0 && Model.Categories != null)
                                {
                                     foreach (var category in Model.Categories.OrderByDescending(x => x.Products.Count))
                                     {
                                           <tr>
                                               <td>
                                                   @category.Name
                                               </td>
                                               <td>
                                                   (@category.Products.Count)
                                               </td>
                                               <td>
                                                   <a style="cursor:pointer;" href="@Url.Action("Edit","Category", new { Id = category.Id })"><i class="far fa-edit"></i></a>
                                               </td>
                                               <td>
                                                   <a style="cursor:pointer;" class="deleteBtn" data-id="@category.Id"><i class='far fa-trash-alt'></i></a>
                                               </td>
                                           </tr>
                                     }
                                }
                                else
                                {
                                    <tr>
                                        <td style="color: red;">Ne postoji ni jedna kategorija pod ovim nazivom!</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <div id="paginationBtn">
                            @if (Model.Pager != null && Model.Pager.TotalPages > 1)
                            {
                               <ul class="pagination pagination-sm m-0 float-right">
                                   @if(Model.Pager.CurrentPage > 1)
                                   {
                                       <li class="page-item"><a class="page-link pageButtons" data-pageno="1">Prva</a></li>
                                       <li class="page-item"><a class="page-link pageButtons" data-pageno="@(Model.Pager.CurrentPage - 1)">Prethodna</a></li>
                                   }
                                   @for(var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                   {
                                       string activeClass = Model.Pager.CurrentPage == page ? "active bg-info" : string.Empty;
                                      
                                       <li class="page-item @activeClass"><a class="page-link pageButtons" data-pageno="@page">@page</a></li>
                                   }
                                   @if(Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                   {
                                      <li class="page-item"><a class="page-link pageButtons" data-pageno="@(Model.Pager.CurrentPage + 1)">Sledeća</a></li>
                                      <li class="page-item"><a class="page-link pageButtons" data-pageno="@Model.Pager.EndPage">Poslednja</a></li>
                                   }
                                   
                               </ul>
                            }
                        </div>
   
                        <input type="hidden" value="@Model.SearchTerm" id="searchTerm" />
                    </div>
                </div>
                <!-- /.card -->
            </div>
        </div>
     
    </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

<script src="~/Content/javascript/Category/CategoryTable.js"></script>
